<script src="phaser.js"></script>
<script src="client.js"></script>
<script src="input.js"></script>
<script src="entity.js"></script>
<script src="gamestate.js"></script>
<script src="menustate.js"></script>
<script src="network.js"></script>

<script>
client = new Client();
client.init();

</script>
